<!doctype html>

<html lang="en">
<head> 
  <title>sptfygame</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="the spotify game website">
  <meta name="author" content="Sam Z">
</head>

<body>

<h1>WTUP baebee</h1>
this finur b da homepage <br>
check tha uri: <%=@auth_uri%> <br>
n if that b* is gud letit wripp: <br>
<a href=<%= @auth_uri %>>"R U REDDY 2 AUTH ???"</a>

</body>
</html>
